/* imoprta as fontes Poppins e Lobster (Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;700&display=swap');

/* Definição de variáveis */

:root{

    /* Fontes */
    --fonte-principal:  "Poppins", sans-serif;
    --fonte-secundaria: "Lobster", sans-serif;
    /* Paleta de cores */
    --cor-principal: #747dff;
    --cor-destaque: #ffad32;
    --cor-principal-alpha: #747dff3c;
    --cor-gradiente-01: #ffe7c2;
    --cor-gradiente-02: #bdacff;
    --cor-01: #f9f9f9;
    --cor-02: #b8c0c7;
    --cor-03: #767f86;
    --cor-04: #3c4852;
    --cor-05: #00000043;
}

/* Limpa as configurações padrão dos navegadores */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-family: var(--fonte-principal);
    font-size: 18px;
}

body{
    color: var(--cor-04);
}

/* ===== Barra de navegação fixa, com Menu */

nav{
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--cor-principal-alpha); */
    padding: 0.6rem 0.3rem;
    color: var(--cor-01);
    letter-spacing: 0.1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.logo{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 700;
}

.menu a{
    text-decoration: none;
    color: var(--cor-01);
    font-weight: 700;
    padding: 0.6rem 1rem;
    transition: 0.5s;
}

.menu a:hover{
    color: var(--cor-destaque);
}

/* ===== Banner e Calendário =====  */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: 50% 50%;
    height: 96vh;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-01);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    height: 100%;
    /*           eixo X   eixo Y       desfoque   cor*/
    text-shadow: 0.2rem     0         0.2rem    var(--cor-04); 
}
